 /* datos personales Óscar Cervero Luiña UO295432*/
 /* Especificidad: 001*/
 body {
    font-family: Verdana, sans-serif;
    color: #333652;
    background-color: #E9EAEC;
 }

 /* Especificidad: 001*/
 header {
    color:#FAD02C;
    background-color:#333652;
 }

 /* Especificidad: 001*/
 p{
   max-width: 50vw;
 }

 /* Especificidad: 002*/
 h1 a{
   text-decoration: none;
 }

 /* Especificidad: 001*/
 video {
   width:100%;
   height:auto;
  }

 /* Especificidad: 001*/
 aside{
   color:#C0D0DD;
   background-color:#333652;
 }

 /* Especificidad: 001*/
 audio{
  width: 100%;
  max-width: 50vw;
 }

 /* Especificidad: 003*/
 body > header + p {
  font-size: 0.7em;
 }

 @media (max-width: 36rem) { 
   /* Especificidad: 001*/
   body {
     font-size: 0.875rem; 
   }
 
   /* Especificidad: 001*/
   p {
     max-width: 90vw; 
   }

   /* Especificidad: 001*/
   audio{
    max-width: 90vw;
   }

   /* Especificidad: 002*/
   header + p{
    font-size: 0.7em;
   }
 }
 
 @media (max-width: 48rem) { 
   /* Especificidad: 001*/
   body {
     font-size: 1rem; 
   }
 
   /* Especificidad: 001*/
   p {
     max-width: 80vw;
   }

   /* Especificidad: 001*/
   audio{
    max-width: 80vw;
   }

   /* Especificidad: 002*/
   header + p{
    font-size: 0.7em;
   }
 }
