/* datos personales Óscar Cervero Luiña UO295432*/
section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1% 1%;
    align-items: center;
    max-width: 50%;
}

button{
    background: #333652;
    grid-column: span 1;
    color:#FFFF00;
    border: 0.1em solid #000;
    text-align: center;
    font-size: 1.5em;
    max-width: 20rem;
    appearance: none; /* Elimina estilos predeterminados de iOS */
    -webkit-appearance: none; /* Elimina estilos específicos de Safari */
}

article{
    grid-column: span 1;
    border:0.2em solid #333652;
    text-align: center;
}

@media (max-width: 36rem) {
    section {
        max-width: 100%;
    }
}