 /* datos personales Óscar Cervero Luiña UO295432*/
 /* Especificidad: 001*/
 body {
    font-family: Verdana, sans-serif;
    color: #333652;
    background-color: #E9EAEC;
 }

 /* Especificidad: 001*/
 header {
    background-color:#333652;
 }

 h2{
  font-size: 1.75em;
  text-decoration: underline;
 }

 /* Especificidad: 001*/
 p{
   max-width: 50vw;
 }

 /* Especificidad: 002*/
 h1 a{
   text-decoration: none;
 }

 nav a{
   text-decoration: none;
 }

 /* Especificidad: 001*/
 video {
   width:100%;
   height:auto;
  }

 /* Especificidad: 001*/
 aside{
   color:#C0D0DD;
   background-color:#333652;
 }

 /* Especificidad: 002*/
 header + p {
  font-size: 0.7em;
 }

 /* Especificidad: 013*/
 header>h1>a:link{
  color:#C0D0DD;
 }

 /* Especificidad: 013*/
 header>h1>a:visited{
  color:#C0D0DD;
 }

 /* Especificidad: 013*/
 header>nav>a:link{
  color:#C0D0DD;
 }

 /* Especificidad: 013*/
 header>nav>a:visited{
  color:#C0D0DD;
 }

 ol{
  list-style-type: upper-roman;
  list-style-position: inside;
 }

 ul{
  list-style-type: square;
 }

 dt{
  font-weight: bold;
 }
 
 dd{
  font-size: 0.8em;
 }

 table{
  table-layout: fixed;
  border-collapse: collapse;
  width: 50%;
  border: 0.2em solid #333652;
 }

 tbody tr:nth-child(odd) {
  background-color: #9AD8E4;
 }

 tbody tr:nth-child(even) {
  background-color: #CFEAF2;
 }

 th,td{
  border: 0.2em solid #333652;
  text-align: center;
 }

 caption{
  font-size: 1.2em;
  font-weight: bold;
 }

 a.active{
  text-decoration: underline;
 }

 a:link.active{
  color:#FFFF00;
 }

 a:visited.active{
  color:#FFFF00;
 }

 @media (max-width: 36rem) { 
   /* Especificidad: 001*/
   body {
     font-size: 0.875rem; 
   }
 
   /* Especificidad: 001*/
   p {
     max-width: 90vw; 
   }

   /* Especificidad: 001*/
   audio{
    max-width: 90vw;
   }

   table{
    width: 90%;
   }
 }
 
 @media (max-width: 48rem) { 
   /* Especificidad: 001*/
   body {
     font-size: 1rem; 
   }
 
   /* Especificidad: 001*/
   p {
     max-width: 80vw;
   }

   /* Especificidad: 001*/
   audio{
    max-width: 80vw;
   }

   table{
    width: 70%;
   }
 }
