 /* datos personales Óscar Cervero Luiña UO295432*/
 /* Especificidad: 001*/
 body {
    font-family: Verdana, sans-serif;
    color: #333652;
    background-color: #E9EAEC;
 }

 /* Especificidad: 001*/
 header {
    color:#FAD02C;
    background-color:#333652;
 }

 /* Especificidad: 001*/
 main{

 }

 /* Especificidad: 001*/
 video {
   width:100%;
   height:auto;
  }

  /* Especificidad: 001*/
 aside{
   color:#C0D0DD;
   background-color:#333652;
 }

 /* Especificidad: 001*/
 nav {
 }

 /* Especificidad: 001*/
 h1 {
 }
