/* datos personales Óscar Cervero Luiña UO295432*/
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

header>h1{
    flex:1;
}
header>nav{
    flex:2;
}

header>nav>a{
    flex:1;
    margin:2em;
}