/* datos personales Óscar Cervero Luiña UO295432*/
section:nth-of-type(3)>form{
    display: flex;             
    flex-direction: column;    
    align-items: center;       
    justify-content: center;   
    margin: 0 auto;            
    padding: 0.2em;             
    max-width: 70%;
    width: 30em;             
    background-color: #f9f9f9;
    border: 0.1em solid #ccc;   
    border-radius: 0.1em;      
}

form input[type="text"] {
    width: 80%;               
    padding: 0.1em;             
    margin-top: 0.1em;           
}

form input[type="submit"] {
    margin-top: 0.1em;          
    padding: 0.5em 0.7em;        
    border: none;              
    border-radius: 0.1em;        
    cursor: pointer;           
    background: #333652;
    color:#FFFF00;
}
